.leave-management {
    /* max-width: 800px; */
    width: 100%;
    margin-top: 10px;
    /* padding: 20px; */
    /* background: #fff; */
    border-radius: 10px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
  }
  
  .leave-title {
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  
  .add-leave-btn {
    background: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
  }
  
  .add-leave-btn:hover {
    background: #218838;
  }
  
  .leave-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .leave-table th, .leave-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .leave-table th {
    background: #007bff;
    color: white;
  }
  
  .status-accepted {
    color: green !important;
    font-weight: bold !important;
  }
  
  .status-rejected {
    color: red !important;
    font-weight: bold !important;
  }
  
  
  .edit-btn, .delete-btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin: 3px;
  }
  
  .edit-btn {
    background: #ffc107;
    color: black;
  }
  
  .delete-btn {
    background: #dc3545;
    color: white;
  }
  
  .delete-btn:hover {
    background: #c82333;
  }
  